#svg-map path { fill: #FF5542 }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#CC4435 }
#svg-map .circle { fill:#FF9A8F }
#svg-map .circle.inativo { fill:#949494 }
#svg-map a:hover .circle { fill:#CC4435!important; cursor:pointer }
#svg-map a:hover .circle.inativo { fill: #949494!important; cursor:pointer }
#svg-map .inativo { fill:#807C7A }
#svg-map a:hover .inativo { fill:#807C7A }